/*

Content:
- add CSS bounce animation to arrow

Mobile:
- make menu button fixed
- enable dropdown menu on click
- add js animation to click
- add font color change to clicked menu items
- add CSS animation to fade out social media icons when not
    on top of page
- add CSS animatioin to fade out menu button when scrolling down
    and fade in menu button when scrolling up


Desktop:
- add on:hover dropshadow to menu text



*/

@import url('https://fonts.googleapis.com/css?family=Exo+2:800');

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
 box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  color: #fff;
  font-family: 'Exo 2', sans-serif;
}

/* Nav bar
=======================================================*/

nav {
  width: 100vw;
  display: flex;
  align-items: center;
}

.nav_container {
  width: 100%;
  height: 10vh;
  min-height: 80px;
  flex-basis: 10%;
  display: flex;
}

.hero_text {
  flex-basis: 60%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav_links {
  width: 100vw;
  height: 5vh;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  list-style: none;
  font-size: 2rem;
  flex-basis: 33.3333%;
  text-align: center;
}

/* Hero
=======================================================*/

.hero {
  background-image: url("./img/main-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  width: 100vw;
  height: 100vh;
}

.hero_text h1 {
  font-size: 7rem;
  font-weight: bold;
  flex-basis: 1;
}

.hero_text h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* Arrow icon
=======================================================*/

.arrow_container {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow_circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow_icon {
  background-image: url("./img/arrow.svg");
  background-size: cover;
  width: 30px;
  height: 30px;
}

/* Mobile media query - navbar
=======================================================*/

@media (max-width: 750px) {

  .mobile {
    display: run-in;
  }

  nav {
    justify-content: space-between;
  }

  .twitter_logo {
    background-image: url("./img/Twitter_Logo_Blue.svg");
    background-repeat: no-repeat;
    opacity: 0.75;
    height: 5vh;
    width: 5vh;
    display: inline-block;
    float: right;
    margin-right: 20px;
  }

  .facebook_logo {
    background-image: url("./img/f_icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
    height: 5vh;
    width: 5vh;
    display: inline-block;
    float: right;
    margin-right: 20px;
  }


  .ham_button {
    height: 60px;
    width: 60px;
    display: inline-block;
    margin-left: 20px;
  }

  .ham_button .circle {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .line {
    height: 2.5px;
    width: 30px;
    margin: 3px 0;
    background-color: #fff;
    border-radius: 1px;
  }

  .nav_links {
    display: none;
    /*width: 100vw;
    height: 20vh;
    padding-top: 1vh;
    min-height: 20vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
  }

  nav li.button {
    list-style: none;
    font-size: 1.5rem;
    flex-basis: 33.3333%;
    text-align: center;
  }

  /*.hero_text h1 {
    font-size: 3.5rem;
    font-weight: bold;
    flex-basis: 1;
  }

  .hero_text h2 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
  }*/
}
